# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files
*.tfvars
*.tfvars.json

# Sensitive files
.env
.env.*
*.pem
*.key

# Secrets / credentials
credentials
credentials.*
.aws/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/

# Logs
*.log